	* {
 	    margin:0;
 	    padding:0;
 	}
 	
 	body {
 	    background-color:#ECF0F1;
 	    
 	}

    h1 {
        text-align: center;
        font-family: roboto;
        font-weight: 300;
        font-size: 50px;
        color: #34495E;
        margin-bottom: 5px;
    }

    h2  {
        font-family: roboto;
        font-weight: 300;
        font-size: 28px;
        color: #34495E;
        margin-bottom: 5px;
    }

    h3  {
        font-family: roboto;
        font-size: 24px;
        color: #34495E;
        font-weight: 300;
    }

    h4  {
        font-family: roboto;
        font-size: 18px;
        line-height: 130%;
        
    }
    p   {
        font-family: roboto;
        font-size: 16px;
        line-height: 140%;
    }

 	.container {
 	   width:90%;
 	   margin:auto;

 	}   
 	
 	.header {
 	    width:100%;
 	    margin-top:30px;
 	    
 	}
 	
 	.header img {
 	    width:100%;
 	    margin-bottom:30px;
 	}
 
 	.content-box {
 	    width:100%;
 	    background-color:#D7E5EA;
 	    border:3px solid #34495E;
 	}

    .text-box {
        width:90%;
        margin:auto;
        margin-top:15px;
        margin-bottom: 15px;
    }
 	
 	.navbar {
 	    width:100%;
        margin:auto;
        margin-bottom:20px;
 	}
 	
 	.navbar ul {
 	    list-style-type:none;
 	}
 	
 	.navbar li {
 	    width:100%;
 	    height:40px;
 	    border:3px solid #34495E;
 	    margin-bottom:6px; 
 	}
 	
 	.navbar li a {
 	    display:block;
 	    text-decoration:none;
 	    color:#34495E;
 	    text-align:center;
 	    font-family:roboto;
 	    font-weight:300;
 	    font-size:1.5em;
 	    padding-top:6px;
 	    padding-bottom:6px;
 	    background-color:#D7E5EA;
 	    -webkit-transition: color 0.5s, background-color 0.5s;
        transition: color 0.5s, background-color 0.5s;
 	    
 	}
 	
 	.navbar li a:hover {
 	    display:block;
 	    text-decoration:none;
 	    color:#ecf0f1;
 	    text-align:center;
 	    font-family:roboto;
 	    font-weight:300;
 	    font-size:1.5em;
 	    padding-top:6px;
 	    padding-bottom:6px;
 	    background-color:#34495E;
 	    
 	}

    iframe {
        width: 100%;
    }
 	
 	
